<!doctype html>
<html lang="{{ shop.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" >
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    <title>{{ shop.name }}</title>
    {%- if canonical_url != blank  -%}
        <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}
    <meta name="description" content="">

    {{ content_for_header }}
    <style>
        {{ settings.heading_font | font_face }}
    </style>
    {% assign menu = linklists.header-menu %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="main__body">
{% section 'mobile-menu' %}
{% section 'header' %}

{% section 'cart-template' %}
{{ content_for_layout }}


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</body>

</html>
