{% section 'header' %}
<main>
    <section class="product_page main">
        <div class="product__inner container">
            <div class="product__item">
                <div class="product__left__side">

                    <div
                            style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                            class="swiper-container mySwiper2"
                    >
                        <div class="swiper-button-next swiper-button-nav"></div>
                        <div class="swiper-button-prev swiper-button-nav"></div>
                        <div class="swiper-wrapper">
                            {% for img in product.images %}
                            <div class="swiper-slide">
                                <img src="{{ img | img_url:'master' }}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div  class="swiper-container mySwiper">
                        <div class="thumb-button-next swiper-button-nav">
                            {% include 'thumb-nav-icon.liquid' %}
                        </div>
                        <div class="thumb-button-prev swiper-button-nav">
                            {% include 'thumb-nav-icon.liquid' %}
                        </div>
                        <div class="swiper-wrapper">
                            {% for img in product.images %}
                                <div class="swiper-slide">
                                    <img src="{{ img | img_url:'master' }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="productForm" class="product__right__side">
                    <h1 class="product__title"
                    >{{ product.title }}</h1>
                    {% for product_option in product.options_with_values %}
                    <div class="mobile__grey__wrapper">
                        <h4 class="product__option__title">Choose your {{ product_option.name }}</h4>
                        <label class="product__select custom_select" for="productSelect">
                                {% include 'select-icon.liquid' %}
                            <select  id="productSelect">
                                {% for variant in product.variants %}
                                    <option value="{{ variant.id }}"
                                            data-variant_price="{{ variant.price | money }}"
                                            {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                                    >
                                        {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </label>

                    {% endfor %}
                    <h3 class="product__price">
                        <span class="product__price__value">
                            {{ product.price | money }}
                        </span>
                        {% if cart.taxes_included %}
                        <sup class="product__price__tax">
                            taxes included
                        </sup>
                        {% else %}
                            <sup class="product__price__tax">
                                excluding taxes
                            </sup>
                        {% endif %}
                    </h3>
                    <div class="product__add-to-cart">
                        <div class="custom_input product__add-to-cart__custom-input">
                            <div class="custom_input__minus product__minus">
                                {% include 'minus.liquid' %}
                            </div>
                            <div class="custom_input__field product__input__field">1</div>
                            <div class="product__plus custom_input__plus">
                                {% include 'plus.liquid' %}
                            </div>
                        </div>
                        <button class="product__add-to-cart-button" data-cart-url="{{ cart_url }}" id="addToCart">
                            Add To Cart
                        </button>
                    </div>
                    </div>
                    <div class="product__description">
                        {{ product.content }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>